p {
   color: blue;
}

h1,h2 {
    color: cornflowerblue;
    font-family: "Courier New";
}

nav {
    padding: 20px;
    background-color: aquamarine;
    margin: 0 auto;
    width: 350px;
    text-align: center;
   
}
    
.title {
   padding: 25px;
   background-color: lightgreen;
}

